/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.accordion-closed {
  transform: rotate(90deg);
}

.accordion-opened {
  transform: rotate(270deg);
}

.accordion-container {
  box-shadow: var(--shadow);
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-container svg {
  width: 20px;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-title button {
  border: none;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
}

.accordion-title button:hover {
  cursor: pointer;
}

/* ### FORM SECTION ### */

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.cv-form-field {
  box-shadow: var(--shadow);
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-title button {
  border: none;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
}

.field-title button:hover {
  cursor: pointer;
}

.field-title svg {
  width: 20px;
  height: auto;
}

form,
.form-values-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  display: block;
}

form input {
  width: 100%;
  padding: 0.4rem 0.6rem;
}

form > button,
.edit-button {
  padding: 0.4rem 1rem;
}

.date-inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
